

body{
    background: rgba(0, 0, 0, 0.733);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.contenedor{
    background:rgb(165, 164, 162);
    max-width: 400px;
    margin: auto;
    padding: 10px 30px;

}

.encabezado{
    border-bottom: 2px solid rgb(17, 17, 17);
}

.titulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.txtTarea{
    position: relative;
    top:-10px; left: 80px;
    padding: 4px 10px;
    font-weight: bold;
    border: 3px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    position: relative;
    top: 10px;
}

button{
    display: block;
    padding: 4px;
    margin: 0px;
    font-weight: bold;
    border: 3px solid black;
    width: 35px;
    height: 30px;
    position: relative;
    top: 10px;
    font-size: medium;
}

button:hover{
    background: rgba(12, 3, 3, 0.116)
}


.btnAdd{
    display: block;
    margin: auto;
    padding: 4px 10px;
    font-weight: bold;
    border: 3px solid black;
    position: relative;
    top:-41px; left: 110px;
}


.luTareas{
    list-style: none;
}


.luTareas li{
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 45px;
}

.luTareas li:hover{
    border: 3px solid black;
}

.checked p{
    text-decoration: line-through;
}






